<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of paises; let i = index">
            <td>{{i + 1}}</td>
            <td><img class="small-flag" [src]="p.flag" [alt]="p.name"></td>
            <td>{{p.name}} - {{p.capital}}</td>
            <td>{{p.population | number }}</td>
            <td><a [routerLink]="['/pais', p.alpha2Code]">ver mas...</a></td>
        </tr>
    </tbody>
</table>